{% extends 'ludoscienceapp/base/base.html' %}

{% block title %}
  Nuevo Proyecto
{% endblock %}

{% block content %}
<div class="col-md-6"> 
    <div class="card card-primary">
        <div class="card-header">
        <h3 class="card-title">Modificar {{ proyect.name }}</h3>
        </div>
        
        
        <form action="/edit_proyect/" id="send" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="card-body">
        <div class="form-group ">
       
          <label class="invalid-feedback d-block">{% for message in messages %}{% if message.tags == 'error' %}*{{ message }}{% endif %}{% endfor %}</label>
            <label for="exampleInputEmail1">Nombre del proyecto</label>
            <input type="text" class="form-control" name="name" placeholder="Ingrese un nombre" value='{{ proyect.name }}'>
            <input type='hidden' class="form-control" name='id' value="{{ proyect.id }}"></input>
       
        </div>
        
        <div class="form-group">
           

                <div class="form-group">
                <label>Descripcion del proyecto</label>
                <textarea  name="description" class="form-control" rows="3" placeholder="Ingresar" value='{{ proyect.description }}'>{{ proyect.description }}</textarea>
          
                </div>
        </div>
        <div class="form-group">
       
          <div class="form-group">
            <label for="exampleFormControlFile1">Imagen del proyecto</label>
            <input type="file" class="form-control-file" accept="image/*" name="image">
          </div>
        </div>
        <div class="form-check">
          {% if proyect.avaliable == 1   %}

          <input checked  type="checkbox" class="form-check-input" name="checkbox">
          {% else %}
          <input  type="checkbox" class="form-check-input" name="checkbox">
            
          {% endif %}
       
          <label for="exampleFormControlFile1">¿Público?</label>
        </div>
        </div>
      </form>
        <div class="card-footer">
        <button id="show_confirmation" class="btn btn-primary">Guardar cambios</button>
        </div>
        
        </div>
     
    
    
  </div>
{% endblock %}
