{% extends 'alaapp/base/base.html' %}
{% load static %}
{% block title %}
  E-G del projecto
{% endblock %}

{% block content %}

<div class="card-deck">
    <label class="valid-feedback d-block">{% for message in messages %}{% if message.tags == 'success' %}*{{ message }}{% endif %}{% endfor %}</label>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Misiones del proyecto:{{ name }}</h3>
      </div>

      <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered table-hover table-primary">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Nombre</th>
              <th style="width: 10px">Asignar</th>
            </tr>
          </thead>
          <tbody>
            
            {% for challenge in challenges %}
            <tr >
              
              <td class="table-success" >{{ challenge.id }}</td>
              <td>{{ challenge.name }}</td>
              <td><button  onclick="send_game_element_id('{{ challenge.id }}','#send_challenge');" class="btn btn-block bg-gradient-info btn-xs">Asignar</button></td>
            </tr>
            {% endfor %}
            <form id="send_challenge"  method="post" action="/asign_challenge/"   > {% csrf_token %}
            <input type="hidden" id="challenge_id" name="challenge_id" />
            </form>
          </tbody>
        </table>
      </div>
      </div>

     
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Insignias del proyecto:{{ name }}</h3>
      </div>

      <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="table-primary">
            <tr>
              <th style="width: 10px">#</th>
              <th>Nombre</th>
              <th style="width: 10px">Asignar</th>
            </tr>
          </thead>
          <tbody>
            {% for badge in badges %}
            <tr>
              <td class="table-success">{{ badge.id }}</td>
              <td>{{ badge.name }}</td>
              <td><button  onclick="send_game_element_id('{{ badge.id }}','#send_badge');" class="btn btn-block bg-gradient-success btn-xs">Asignar</button></td>
            </tr>
            {% endfor %}
            <form  id="send_badge" method="post" action="/asign_badge/"   > {% csrf_token %}
              <input type="hidden" id="badge_id" name="badge_id" />
            </form>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script src="{% static 'dist/js/datatable_es.js' %}"></script>
<script>$(document).ready( function () {
  $('#table').DataTable({

    "language": lang

  });
  $('#table2').DataTable({

    "language": lang

  });
} ); </script>
   
<script src="{% static 'dist/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'dist/js/showconfirmation.js' %}"></script>
{% endblock %}